<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [33]:
import pandas as pd
import numpy as np

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [59]:
data = pd.read_csv(PATH)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [51]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [37]:
# You code here

# выделяем подмножества спортсменов мужчин и женщин
male_data_1996 = data[(data.Sex == 'M') & (data.Year == 1996)]
female_data_1996 = data[(data.Sex == 'F') & (data.Year == 1996)]
data_1996 = data[data.Year == 1996]
# проверяем
data_1996.shape[0] == male_data_1996.shape[0] + female_data_1996.shape[0]

True

In [38]:
pd.unique(male_data_1996['Year']), pd.unique(male_data_1996['Sex'])

(array([1996]), array(['M'], dtype=object))

In [40]:
pd.unique(female_data_1996['Year']), pd.unique(female_data_1996['Sex'])

(array([1996]), array(['F'], dtype=object))

In [48]:
male_min_age_1996 = male_data_1996['Age'].min()

In [49]:
female_min_age_1996 = female_data_1996['Age'].min()

# Ответ на 1 вопрос

In [50]:
male_min_age_1996, female_min_age_1996

(14.0, 12.0)

In [ ]:
# male - 14, female - 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [70]:
# You code here

# show all sports
pd.unique(data['Sport'])

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [71]:
all_male_2000 = data[(data.Sex == 'M') & (data.Year == 2000)]

gymnast_male_2000 = all_male_2000[all_male_2000.Sport == 'Gymnastics']

In [72]:
all_male_len = len(pd.unique(all_male_2000['ID']))

In [73]:
gymnast_male_len = len(pd.unique(gymnast_male_2000['ID']))

# Ответ на 2 вопрос

In [74]:
(gymnast_male_len / all_male_len) * 100

1.4743882048943608

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [76]:
# You code here

female_basketball_2000 = data[(data.Year == 2000) & (data.Sex == 'F') & (data.Sport == 'Basketball')]
female_basketball_2000.shape

(142, 15)

In [82]:
# проверяем на дубликаты
female_basketball_2000.shape[0] == len(pd.unique(female_basketball_2000['ID']))

True

In [84]:
heights = female_basketball_2000['Height']

# Ответ на 3 вопрос

In [152]:
np.mean(heights), np.std(heights)

(182.38732394366198, 9.10722402592803)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

# Ответ на 4 вопрос

In [93]:
# You code here 
sportpersons_2002 = data[data.Year == 2002]
sportpersons_2002[sportpersons_2002['Weight'] == np.max(sportpersons_2002['Weight'])]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [155]:
# You code here
pa_particip = data[data.Name == 'Pawe Abratkiewicz']
pa_particip

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

# Ответ на 5 вопрос

In [154]:
len(pd.unique(pa_particip['Year']))

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [156]:
# You code here 
australia_tennis_2000 = data[(data.Team == 'Australia') & (data.Year == 2000) & (data.Sport == 'Tennis')]

# Ответ на 6 вопрос

In [157]:
australia_tennis_2000[australia_tennis_2000.Medal == 'Silver'].shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [158]:
# You code here
switzerland_2016 = data[(data.Team == 'Switzerland') & (data.Year == 2016)]

In [159]:
serbia_2016 = data[(data.Team == 'Serbia') & (data.Year == 2016)]

In [163]:
switzerland_2016.shape, serbia_2016.shape

((148, 15), (127, 15))

In [165]:
switzerland_2016_medals = switzerland_2016['Medal'].dropna()

In [166]:
serbia_2016_medals = serbia_2016['Medal'].dropna()

# Ответ на 7 вопрос

In [171]:
switzerland_2016_medals.shape[0] < serbia_2016_medals.shape[0]

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [110]:
# You code here
from pprint import pprint
all_2014 = data[data.Year == 2014]

In [132]:
all_2014 = all_2014.drop_duplicates(subset=['ID'], )

all_2014.shape, len(pd.unique(all_2014['ID']))

((2745, 15), 2745)

In [127]:
start_age = 15
count_for_every_category = {}
while start_age <= 45:
    key = '{} - {}'.format(start_age, start_age+10)
    count_for_every_category[key] = all_2014[(all_2014.Age >= start_age) & (all_2014.Age < (start_age + 10))].shape[0]
    start_age += 10

In [135]:
count_for_every_category

{'15 - 25': 1193, '25 - 35': 1397, '35 - 45': 150, '45 - 55': 4}

# 45-55 и 25-35

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [138]:
# You code here 
cities_summer_games = pd.unique(data[data.Season == 'Summer']['City'])
cities_winter_games = pd.unique(data[data.Season == 'Winter']['City'])

# Ответ на 9 вопрос

In [142]:
'Lake Placid' in cities_summer_games, 'Sankt Moritz' in cities_winter_games

(False, True)

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

# В 95-м не было игр, поэтому просто посчитаем кол-во видов в 2016

In [148]:
# You code here


unique_sports_2016 = pd.unique(data[data.Year == 2016]['Sport'])

# Ответ на 10 вопрос

In [151]:
len(unique_sports_2016)

34